.navbar-custom {
	background-color: #10253e;
}
.root {

	background-color: #10253e;
}
.content-block {
	background-color: rgb(255,255,255);
	border: 1px solid rgb(233,234,239);
	border-radius: 8px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 20px;
}
.content-block-title {
	font-size: 19px!important;
	font-weight: 700;
	color: #10253e;
	text-transform: uppercase;
}
.col-xs-12 {
	width: 100%;
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.button--full{
	width: 50%;
	text-align: center;
}
#optionNavn{
	margin-top: 0;
}
#optionLabel{
	margin-left: 1%;
	font-size: 13px;
}
#overskriftAdmin{
	font-size: 25px;
}

#avstemning_button{
	font-size: 15px!important;
	text-transform: uppercase;
	display: inline-block;
	background-color: #10253e;
	color: #FFF;
	border: .25rem solid #10253e;
	border-bottom: 0;
	box-shadow: 0 .25rem 0 #00AEEA;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 700;
}
#avstemning_button:hover{
	background-color: #FFF;
	border-color: #FFF;
	color: #000;
}
body{
	background-color: #f5f6fa;
}
.row{
	margin-bottom: 10px;
	margin-left: auto;
}
.col-sm{
	margin-bottom: 10px;
}