.navbar {
	width: 100%;
	background-color: #555;
	overflow: auto;
  }
  
  
  .navbar a {
	float: left;
	text-align: center;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 17px;
  }
  
  
  .navbar a:hover {
	background-color: #000;
  }
  
  
  .active {
	background-color: #003a86;
  }
  
  
  @media screen and (max-width: 500px) {
	.navbar a {
	  float: none;
	  display: block;
	}
  }
  
  * {box-sizing: border-box}
  
  
  .videoTab {
	float: right;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	width: 30%;
	height: 300px;
  }
  
  .videoTab button {
	display: block;
	background-color: inherit;
	color: black;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
  }
  
  .videoTab button:hover {
	background-color: #ddd;
  }
  
  .videoTab button.active {
	background-color: #ccc;
  }
  
  .videoContent {
	float: left;
	padding: 0px 12px;
	border: 1px solid #ccc;
	width: 70%;
	border-left: none;
	height: 300px;
  }
  
  .goal-showcase{
	  float: left;	
  }