<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />
		<title>Bachelor</title>
		<style>
			.navbar-custom {
				background-color: #10253e;
			}
			.root {

				background-color: #10253e;
			}
			.content-block {
				background-color: rgb(255,255,255);
				border: 1px solid rgb(233,234,239);
				border-radius: 8px;
				padding-top: 15px;
				padding-bottom: 15px;
				margin-bottom: 20px;
			}
			.content-block-title {
				font-size: 19px!important;
				font-weight: 700;
				color: #10253e;
				text-transform: uppercase;
			}
			.col-xs-12 {
				width: 100%;
				float: left;
				position: relative;
				min-height: 1px;
				padding-right: 15px;
				padding-left: 15px;
			}
			.button--full{
				width: 50%;
				text-align: center;
			}
			#avstemning_button{
				font-size: 15px!important;
				text-transform: uppercase;
				display: inline-block;
				background-color: #10253e;
				color: #FFF;
				border: .25rem solid #10253e;
				border-bottom: 0;
				box-shadow: 0 .25rem 0 #00AEEA;
				font-family: Arial, Helvetica, sans-serif;
				font-style: normal;
				font-weight: 700;
			}
			body{
				background-color: #f5f6fa;
			}
			.row{
				margin-bottom: 10px;
				margin-left: auto;
			}
			.col-sm{
				margin-bottom: 10px;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-custom">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">
						<img class="bilde" src="//d16e31wd87mjz3.cloudfront.net/eliteserien/static/media/logo-eliteserien.21ad0a65.png" alt="Eliteserien logo" style="width:150px; height:50px;">
					</a>
				</div>
			</div>
		</nav>
		<div class="container main-body-container">
			<div class="col-xs-12">
				<div class="content-block row">
					<div class="text-center content content-block-title col-xs-12">
						<span>Mest populære</span>
					</div>
				</div>
				<div id="rad" class="content-block row">
					<div class="container">
						<div class="row">
							<div class="col-sm">
								<div>
									<input type="checkbox" id="scales" name="scales">
									<label for="scales">Velg denne videoen</label>
								</div>
								<video 
									id="my-video"
									class="video-js vjs-big-play-centered"
									controls
									preload="auto"
									width="320"
									height="180"
									poster="https://d22hh18o76pkhl.cloudfront.net/mediabank/thumb/eliteserien/2966/05409.jpg"
									data-setup="{}"
									>
									<source src="https://api.forzasys.com/eliteserien/playlist.m3u8/2966:5399000:5434000/Manifest.m3u8" 
									type="application/x-mpegURL" />
									<p class="vjs-no-js">
										To view this video please enable JavaScript, and consider upgrading to a
										web browser that
										<a href="https://videojs.com/html5-video-support/" target="_blank"
										>supports HTML5 video</a>
									</p>
								</video>
								<script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
							</div>
							<div class="col-sm">
								<div>
									<input type="checkbox" id="scales" name="scales">
									<label for="scales">Velg denne videoen</label>
								</div>
								<video 
									id="my-video"
									class="video-js vjs-big-play-centered"
									controls
									preload="auto"
									width="640"
									height="264"
									poster="https://d22hh18o76pkhl.cloudfront.net/mediabank/thumb/eliteserien/2966/05409.jpg"
									data-setup="{}"
									>
									<source src="https://api.forzasys.com/eliteserien/playlist.m3u8/2966:5399000:5434000/Manifest.m3u8" 
									type="application/x-mpegURL" />
									<p class="vjs-no-js">
										To view this video please enable JavaScript, and consider upgrading to a
										web browser that
										<a href="https://videojs.com/html5-video-support/" target="_blank"
										>supports HTML5 video</a>
									</p>
								</video>
								<script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
							</div>
							<div class="col-sm">
								<div>
									<input type="checkbox" id="scales" name="scales">
									<label for="scales">Velg denne videoen</label>
								</div>
								<video 
									id="my-video"
									class="video-js vjs-big-play-centered"
									controls
									preload="auto"
									width="640"
									height="264"
									poster="https://d22hh18o76pkhl.cloudfront.net/mediabank/thumb/eliteserien/2966/05409.jpg"
									data-setup="{}"
									>
									<source src="https://api.forzasys.com/eliteserien/playlist.m3u8/2966:5399000:5434000/Manifest.m3u8" 
									type="application/x-mpegURL" />
									<p class="vjs-no-js">
										To view this video please enable JavaScript, and consider upgrading to a
										web browser that
										<a href="https://videojs.com/html5-video-support/" target="_blank"
										>supports HTML5 video</a>
									</p>
								</video>
								<script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
							</div>
						</div>
						<div class="row">
							<div class="col-sm">
								<div>
									<input type="checkbox" id="scales" name="scales">
									<label for="scales">Velg denne videoen</label>
								</div>
								<video 
									id="my-video"
									class="video-js vjs-big-play-centered"
									controls
									preload="auto"
									width="320"
									height="180"
									poster="https://d22hh18o76pkhl.cloudfront.net/mediabank/thumb/eliteserien/2966/05409.jpg"
									data-setup="{}"
									>
									<source src="https://api.forzasys.com/eliteserien/playlist.m3u8/2966:5399000:5434000/Manifest.m3u8" 
									type="application/x-mpegURL" />
									<p class="vjs-no-js">
										To view this video please enable JavaScript, and consider upgrading to a
										web browser that
										<a href="https://videojs.com/html5-video-support/" target="_blank"
										>supports HTML5 video</a>
									</p>
								</video>
								<script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
							</div>
							<div class="col-sm">
								<div>
									<input type="checkbox" id="scales" name="scales">
									<label for="scales">Velg denne videoen</label>
								</div>
								<video 
									id="my-video"
									class="video-js vjs-big-play-centered"
									controls
									preload="auto"
									width="640"
									height="264"
									poster="https://d22hh18o76pkhl.cloudfront.net/mediabank/thumb/eliteserien/2966/05409.jpg"
									data-setup="{}"
									>
									<source src="https://api.forzasys.com/eliteserien/playlist.m3u8/2966:5399000:5434000/Manifest.m3u8" 
									type="application/x-mpegURL" />
									<p class="vjs-no-js">
										To view this video please enable JavaScript, and consider upgrading to a
										web browser that
										<a href="https://videojs.com/html5-video-support/" target="_blank"
										>supports HTML5 video</a>
									</p>
								</video>
								<script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
							</div>
							<div class="col-sm">
								<div>
									<input type="checkbox" id="scales" name="scales">
									<label for="scales">Velg denne videoen</label>
								</div>
								<video 
									id="my-video"
									class="video-js vjs-big-play-centered"
									controls
									preload="auto"
									width="640"
									height="264"
									poster="https://d22hh18o76pkhl.cloudfront.net/mediabank/thumb/eliteserien/2966/05409.jpg"
									data-setup="{}"
									>
									<source src="https://api.forzasys.com/eliteserien/playlist.m3u8/2966:5399000:5434000/Manifest.m3u8" 
									type="application/x-mpegURL" />
									<p class="vjs-no-js">
										To view this video please enable JavaScript, and consider upgrading to a
										web browser that
										<a href="https://videojs.com/html5-video-support/" target="_blank"
										>supports HTML5 video</a>
									</p>
								</video>
								<script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
							</div>
						</div>
						<div class="row">
							<div class="col-sm">
								<div>
									<input type="checkbox" id="scales" name="scales">
									<label for="scales">Velg denne videoen</label>
								</div>
								<video 
									id="my-video"
									class="video-js vjs-big-play-centered"
									controls
									preload="auto"
									width="320"
									height="180"
									poster="https://d22hh18o76pkhl.cloudfront.net/mediabank/thumb/eliteserien/2966/05409.jpg"
									data-setup="{}"
									>
									<source src="https://api.forzasys.com/eliteserien/playlist.m3u8/2966:5399000:5434000/Manifest.m3u8" 
									type="application/x-mpegURL" />
									<p class="vjs-no-js">
										To view this video please enable JavaScript, and consider upgrading to a
										web browser that
										<a href="https://videojs.com/html5-video-support/" target="_blank"
										>supports HTML5 video</a>
									</p>
								</video>
								<script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
							</div>
							<div class="col-sm">
								<div>
									<input type="checkbox" id="scales" name="scales">
									<label for="scales">Velg denne videoen</label>
								</div>
								<video 
									id="my-video"
									class="video-js vjs-big-play-centered"
									controls
									preload="auto"
									width="640"
									height="264"
									poster="https://d22hh18o76pkhl.cloudfront.net/mediabank/thumb/eliteserien/2966/05409.jpg"
									data-setup="{}"
									>
									<source src="https://api.forzasys.com/eliteserien/playlist.m3u8/2966:5399000:5434000/Manifest.m3u8" 
									type="application/x-mpegURL" />
									<p class="vjs-no-js">
										To view this video please enable JavaScript, and consider upgrading to a
										web browser that
										<a href="https://videojs.com/html5-video-support/" target="_blank"
										>supports HTML5 video</a>
									</p>
								</video>
								<script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
							</div>
							<div class="col-sm">
								<div>
									<input type="checkbox" id="scales" name="scales">
									<label for="scales">Velg denne videoen</label>
								</div>
								<video 
									id="my-video"
									class="video-js vjs-big-play-centered"
									controls
									preload="auto"
									width="640"
									height="264"
									poster="https://d22hh18o76pkhl.cloudfront.net/mediabank/thumb/eliteserien/2966/05409.jpg"
									data-setup="{}"
									>
									<source src="https://api.forzasys.com/eliteserien/playlist.m3u8/2966:5399000:5434000/Manifest.m3u8" 
									type="application/x-mpegURL" />
									<p class="vjs-no-js">
										To view this video please enable JavaScript, and consider upgrading to a
										web browser that
										<a href="https://videojs.com/html5-video-support/" target="_blank"
										>supports HTML5 video</a>
									</p>
								</video>
								<script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
							</div>
						</div>
					</div>
				</div>
				<div class="content-block row">
					<div class="container" id="content"></div>
				</div>
				<div class="content-block row">
					<div class="text-center content content-block-title col-xs-12">
						<button id="avstemning_button" class="button button--full" type="submit">Opprett avstemning</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>