<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="stylesheet" type="text/css" href="../style/adminside.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
		<link rel="shortcut icon" href="#">
		<title>Bachelor</title>
	</head>
	<body>
		<nav class="navbar navbar-custom">
			<div class="container-fluid">
				<div id="logo" class="navbar-header">
					<a class="navbar-brand" href="/">
						<img class="bilde" src="//d16e31wd87mjz3.cloudfront.net/eliteserien/static/media/logo-eliteserien.21ad0a65.png" alt="Eliteserien logo" style="width:150px; height:50px;">
					</a>
				</div>
			</div>
		</nav>
		<div class="container main-body-container">
			<div class="col-xs-12">
				<!--Tester ut formatering av videoer--> 
				<div class="content-block row">
					<div class="text-center content content-block-title col-xs-12">
						<span id="overskriftAdmin">Du har opprettet en avstemning</span>
					</div>
				</div>  
		   </div>
		</div>  
	</body>
</html>