<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="stylesheet" type="text/css" href="../style/adminside.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="../JS/main.js"></script>
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="shortcut icon" href="#">

		<title>Bachelor</title>
	</head>
	<body>
		<nav class="navbar navbar-custom">
			<div class="container-fluid">
				<div id="logo" class="navbar-header">
					<a class="navbar-brand" href="/">
						<img class="bilde" src="//d16e31wd87mjz3.cloudfront.net/eliteserien/static/media/logo-eliteserien.21ad0a65.png" alt="Eliteserien logo" style="width:150px; height:50px;">
					</a>
				</div>
			</div>
		</nav>
		<div class="container main-body-container">
			<div class="col-xs-12">
				<div class="content-block row">
					<div class="text-center content content-block-title col-xs-12">
						<span id="overskriftAdmin">Du har opprettet en avstemning!</span></br>
						<span>Eksisterende polls:</span>
					</div>
				</div>  
		    </div>
			<div class="col-xs-12">
				<div class="content-block row">
					<div class="content content-block-title col-xs-12">
					<div id="eksisterendePoll"></div>
					</div>
				</div>  
		    </div>
			<div class="col-xs-12">
				<div class="content-block row">
					<div class="text-center content-block-title col">
						<span>Gå tilbake til admin siden:</span></br></br>
						<button id="avstemning_button" class="button button--full" type="submit" onclick="openAdmin()">Admin</button>
					</div>
					<div class="text-center content-block-title col">
						<span>Gå til fan siden:</span></br></br>
						<button id="avstemning_button" class="button button--full" type="submit" onclick="openKunde()">Fan</button>
					</div>
				</div>  
		    </div>
		</div>  
	</body>
</html>
